@media print {

  /* All your print styles go here */
  header,
  .hideForPrinting {
    display: none !important;
  }

  #preparations>table>tbody>tr>td,
  #preparations>table>thead>tr>th {
    font-size: 10px;
  }
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table>tbody>tr {
  margin: 0;
  padding: 0;
}

.table>thead>tr>th {
  font-weight: bold;
  text-align: left;
  padding: 8px 16px;
  margin: 0;
}

.table>tbody>tr>td {
  padding: 8px;
  margin: 0;
  border-style: solid;
  border-color: #d9d9d9;
  border-width: 1px 0 1px 0;
}

.table>tbody>tr:nth-child(odd) {
  background-color: #f2f2f2;

}

header#title {
  background-color: #4dc9aa;
  box-shadow: 0 4px 4px -2px #000000;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  text-align: center;
  height: 50px;
  padding: 5px;
}

header#title>a {
  color: #e1faf4;
  font-size: 2.5rem;
  text-decoration: none;
  font-weight: 300;
  padding: 5px;
  height: 50px;
}

header#title>div#menu {
  position: absolute;
  display: block;
  top: 0;
  right: 0;
  bottom: 0;
  font-weight: 300;
  width: 60px;
  height: 60px;
  cursor: pointer;
  font-size: 2.5em;
  text-align: center;
  color: #e1faf4;
}

header#title>div#contentOfTableButton {
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  bottom: 0;
  font-weight: 300;
  width: 60px;
  height: 60px;
  cursor: pointer;
  font-size: 2.5em;
  text-align: center;
  color: #e1faf4;
}

.fullscreen {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: black;
  transition: opacity 0.5s;
  opacity: 0.3;
  z-index: 105;
}

#content {
  position: absolute;
  top: 60px;
  left: 0;
  right: 0;
  padding: 10px 5px;
}


.box {
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
}

.contentVisible {
  margin-left: 400px;
  transition: margin-left 0.2s;
}