body {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.button,
button {
    display: inline-block;
    border-radius: 5px;
    border: 1px solid #dedede;
    background-color: #eef0f2;
    color: #212529;
    padding: 7px 10px;
    margin: 1px 2px;
    cursor: pointer;
    font-weight: 300;
    transition: background-color 0.4s;
    font-size: 1.0em;
    text-decoration: none;
}

.button:hover,
button:hover {
    background-color: #dedede;
    color: black;
}

.button.button-disabled,
button:disabled {
    background-color: #dedede;
}

.button.button-disabled:hover,
button:disabled:hover {
    background-color: #dedede;
    color: #212529;
    cursor: not-allowed;
}

.button.success,
button.success {
    background-color: #4bd685;
    border: #4bbf7b;
    color: #f5fff9;
}

.button.success:hover,
button.success:hover {
    background-color: #4bbf7b;
}

.button.warn,
button.warn {
    background-color: #ed561a;
    border: #d64622;
    color: #fff5f2;
}

.button.warn:hover,
button.warn:hover {
    background-color: #d64622;
}

input[type=text],
input[type=number],
input[type=search],
input[type=date],
textarea {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: white;
    background-clip: padding-box;
    border: 1px solid #aaa;
    border-radius: 5px;
    box-sizing: border-box;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

h1 {
    font-weight: 300;
    font-size: 2em;
    margin: 0 0 10px 0;
    padding: 5px 0;
    border-bottom: 1px solid #212529;
    color: #212529;
}

h2 {
    font-weight: 300;
    font-size: 1.5em;
    margin: 10px 0 5px 0;
    padding: 5px 0;
    color: #212529;
}

a {
    color: black;
    text-decoration: underline;
}

a:hover {
    text-decoration: none;
}

fieldset {
    border-radius: 5px;
    margin: 10px 0 10px 0;
    display: block;
}

fieldset>div {
    margin: 8px 0;
}

fieldset>div>label {
    display: inline-block;
    padding: 3px;
    min-width: 100px;
}

fieldset>div>div {
    display: block;
}

div.row {
    clear: both;
}

div.row:after {
    content: '';
    display: block;
    clear: both;
}

div.row>div {
    float: left;
}


div.Fullscreen {
    position: fixed;
    z-index: 2000;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;

    padding: 70px 5px 5px 5px;

    overflow: auto;
}

div.Fullscreen>header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 36px;
    border-bottom: 1px solid black;
    box-shadow: 0 4px 4px -2px #000000;
    background-color: white;
    z-index: 3000;
    padding: 10px;
    text-align: right;
}

div.Fullscreen>header>div.title {
    position: absolute;
    top: 0;
    left: 0;
    padding: 11px;
    font-size: 1.8em;
}

.overflow {
    overflow-x: auto;
    white-space: nowrap;
    padding-bottom: 250px;
    margin-bottom: -250px;
}