#Recipe {
    position: relative;
}

.ingredients {
    width: 10%;
}

.description {
    width: 90%;
}

table.preparations>thead>tr>th {
    text-align: center;
}

table.preparations>thead>tr>th.title {
    min-width: 20px;
}

table.preparations>tbody>tr>td.title {
    text-align: center;
}

table.preparations>thead>tr>th.amount {
    min-width: 20px;
}

table.preparations>tbody>tr>td.amount {
    min-width: 20px;
}

table.preparations>tbody>tr>td.amount>input {
    width: 80px;
}

table.preparations>thead>tr>th.unit {
    min-width: 130px;
}

table.preparations>thead>tr>th.ingredient {
    min-width: 160px;
}

table.preparations>thead>tr>th.description {
    width: 50%;
}

td.description {
    white-space: pre-wrap;
}

table.preparations>tbody>tr>td {
    vertical-align: top;
}

table.preparations>tbody>tr.title {
    background-color: #4dc9aa;
}

.recipeOptions {
    position: absolute;
    top: -10px;
    right: 0px;
}

.overflow {
    overflow: auto;
    white-space: nowrap;
}

input.title {
    font-size: 1.6em !important;
}


div#RecipeForm {
    position: fixed;
    z-index: 2000;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;

    padding: 70px 5px 5px 5px;

    overflow: auto;
}

div#RecipeForm>header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 36px;
    border-bottom: 1px solid black;
    box-shadow: 0 4px 4px -2px #000000;
    background-color: white;
    z-index: 3000;
    padding: 10px;
    text-align: right;
}

div#RecipeForm>header>div.title {
    position: absolute;
    top: 0;
    left: 0;
    padding: 11px;
    font-size: 1.8em;
}