ul.Tags {
    height: 20px;
    padding: 0;
    margin: 0;
    text-align: center;
}

ul.Tags>li {
    list-style: none;
    padding: 0;
    margin: 0;
    display: inline;
}

ul.Tags>li>a {
    text-decoration: none;
    padding: 3px 4px;
    text-transform: lowercase;
}

ul.Tags>li>a:hover {
    text-decoration: underline;
}