.background {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 103;
}

.modal {
    position: relative;
    z-index: 1200;
    top: 20px;
    margin: auto;
    width: 60%;
    background-color: green;
    opacity: 1;

    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: white;
}

.modal>header {
    border-bottom: 1px solid #ddd;
    font-weight: 500;
    padding: 20px;
}

.modal>div.content {
    padding: 20px;
}

.modal>footer {
    border-top: 1px solid #ddd;
    padding: 20x;
}