nav#nav {
    position: fixed;
    background-color: #4dc9aa;
    top: 0;
    right: 0;
    bottom: 0;
    width: 0;
    z-index: 110;
    transition: width 0.2s;
    box-shadow: 0 4px 4px -2px #000000;
  }
  
  nav#nav > header {
    border-bottom: 1px solid #2e7563;
  }
  
  nav#nav.visible {
    width: 300px;
  }
  
  nav#nav > header > div#close {
    font-weight: 300;
    width: 60px;
    height: 54px;
    cursor: pointer;
    font-size: 2.5em;
    text-align: center;
    color: #e1faf4;
    text-align: center;
    vertical-align: middle;
    padding-top: 6px;
  }
  
  nav#nav > ul {
    padding: 0;
    margin: 0;
  }
  
  nav#nav > ul > li {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  nav#nav > ul >li > a  {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: #e1faf4;
    font-size: 1.2em;
  }
  
  nav#nav > ul >li > a:hover {
    background-color: #228c72;
    text-decoration: none;
  }
  
  nav#nav > ul >li > a.active {
    font-weight: 600;
  }